* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brush Script MT', cursive;
}

body {
    background-color: black;
}

canvas {
    position: absolute;
    translate: 0%;
    left: 0%;
}